.grass{
    background-image: url('../Images/types-bg/grass.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.fire{
    background-image: url('../Images/types-bg/fire.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.water{
    background-image: url('../Images/types-bg/water.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}
.bug{
    background-image: url('../Images/types-bg/bug.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.normal{
    background-image: url('../Images/types-bg/normal.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.poison{
    background-image: url('../Images/types-bg/poison.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}
.electric{
    background-image: url('../Images/types-bg/electric.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.ground{
    background-image: url('../Images/types-bg/ground.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fairy{
    background-image: url('../Images/types-bg/fairy.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.psychic{
    background-image: url('../Images/types-bg/psychic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.fighting{
    background-image: url('../Images/types-bg/fighting.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.rock{
    background-image: url('../Images/types-bg/rock.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.ice{
    background-image: url('../Images/types-bg/ice.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.ghost{
    background-image: url('../Images/types-bg/ghost.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.dragon{
    background-image: url('../Images/types-bg/dragon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.dark{
    background-image: url('../Images/types-bg/dark.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.flying{
    background-image: url('../Images/types-bg/flying.jpeg');
    background-repeat: no-repeat;
    background-size: cover;      
}
         
.steel{
    background-image: url('../Images/types-bg/steel.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}

#water{
    background-image: url('../Images/types-bg/water.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
}